.card {
	 --background: #fff;
	 --background-checkbox: #ff5b00;
	 --background-image: #fff rgba(0, 107, 175, 0.2);
	 --text-color: #666;
	 --text-headline: #000;
	 --card-shadow: #ff5b00;
	 --card-height: 100px;
	 --card-width: 190px;
	 --card-radius: 12px;
	 --header-height: 47px;
	 --blend-mode: overlay;
	 --transition: 0.15s;
	 user-select: none;
}
 .card:nth-child(odd) .card2__body-cover-image {
	 --x-y1: 100% 90%;
	 --x-y2: 67% 83%;
	 --x-y3: 33% 90%;
	 --x-y4: 0% 85%;
}
 .card:nth-child(even) .card2__body-cover-image {
	 --x-y1: 100% 85%;
	 --x-y2: 73% 93%;
	 --x-y3: 25% 85%;
	 --x-y4: 0% 90%;
}
 .card2__input {
	 position: absolute;
	 display: block;
	 outline: none;
	 border: none;
	 background: none;
	 padding: 0;
	 margin: 0;
	 -webkit-appearance: none;
}
 .card2__input:checked ~ .card2__body {
	 --shadow: 0 0 0 3px var(--card2-shadow);
}
 .card2__input:checked ~ .card2__body .card2__body-cover-checkbox {
	 --check-bg: var(--background-checkbox);
	 --check-border: #fff;
	 --check-scale: 1;
	 --check-opacity: 1;
}
 .card2__input:checked ~ .card2__body .card2__body-cover-checkbox--svg {
	 --stroke-color: #fff;
	 --stroke-dashoffset: 0;
}
 .card2__input:checked ~ .card2__body .card2__body-cover:after {
	 --opacity-bg: 0;
}
 .card2__input:checked ~ .card2__body .card2__body-cover-image {
	 --filter-bg: grayscale(0);
}
 .card2__input:disabled ~ .card2__body {
	 cursor: not-allowed;
	 opacity: 0.5;
}
 .card2__input:disabled ~ .card2__body:active {
	 --scale: 1;
}
 .card2__body {
	 display: grid;
	 background: var(--background);
	 border-radius: var(--card-radius);
	 overflow: hidden;
	 box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
	 transition: transform var(--transition), box-shadow var(--transition);
	 transform: scale(var(--scale, 1)) translateZ(0);
	     justify-items: center;
}
 .card2__body:active {
	 --scale: 0.96;
}
 .card2__body-cover {
	 --c-border: var(--card-radius) var(--card-radius) 0 0;
	 --c-width: 100%;
	 --c-height: 100%;
	 position: relative;
	 overflow: hidden;
}
 .card2__body-cover:after {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: var(--c-width);
	 height: var(--c-height);
	 border-radius: var(--c-border);
	 background: linear-gradient(to bottom right, var(--background-image));
	 mix-blend-mode: var(--blend-mode);
	 opacity: var(--opacity-bg, 1);
	 transition: opacity var(--transition) linear;
}
 .card2__body-cover-image {
	 width: var(--c-width);
	 height: var(--c-height);
	 border-radius: var(--c-border);
	 filter: var(--filter-bg, grayscale(1));
}
 .card2__body-cover-checkbox {
	 background: var(--check-bg, var(--background-checkbox));
	 border: 2px solid var(--check-border, #fff);
	 position: absolute;
	 right: 10px;
	 top: 10px;
	 z-index: 1;
	 width: 28px;
	 height: 28px;
	 border-radius: 50%;
	 opacity: var(--check-opacity, 0);
	 transition: transform var(--transition), opacity calc(var(--transition) * 1.2) linear, -webkit-transform var(--transition) ease;
	 transform: scale(var(--check-scale, 0));
}
 .card2__body-cover-checkbox--svg {
	 width: 13px;
	 height: 11px;
	 display: inline-block;
	 vertical-align: top;
	 fill: none;
	 margin: 7px 0 0 5px;
	 stroke: var(--stroke-color, #fff);
	 stroke-width: 2;
	 stroke-linecap: round;
	 stroke-linejoin: round;
	 stroke-dasharray: 16px;
	 stroke-dashoffset: var(--stroke-dashoffset, 16px);
	 transition: stroke-dashoffset 0.4s ease var(--transition);
}
 .card2__body-header {
	 background: var(--background);
	 padding: 0 10px 10px 10px;
}
 .card2__body-header-title {
	 color: var(--text-headline);
	 font-weight: 700;
	 margin-bottom: 8px;
	 font-size: 16px;
}
 .card2__body-header-subtitle {
	 color: var(--text-color);
	 font-weight: 500;
	 font-size: 13px;
}

:root {
	--prm-color: #0381ff;
	--prm-gray: #f9f9f9;
}

.steps {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	position: relative;
}

.step-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background-color: var(--prm-gray);
	transition: .4s;
}

.step-button[aria-expanded="true"] {
	width: 60px;
	height: 60px;
	background-color: var(--prm-color);
	color: #fff;
}

.step-item {
	z-index: 10;
	text-align: center;
}

#progress {
	-webkit-appearance: none;
	position: absolute;
	width: 95%;
	z-index: 5;
	height: 10px;
	margin-left: 18px;
	margin-bottom: 18px;
}

#progress::-webkit-progress-value {
	background-color: var(--prm-color);
	transition: .5s ease;
}

#progress::-webkit-progress-bar {
	background-color: var(--prm-gray);

}